.listForLevel{
    max-width: 400px;
}
.listForLevel .ant-list-item-content{
    justify-content: center;
}

.listForLevel .title{
    font-size: 16px;
    font-weight: 500;
}
.listForLevel .title span {
    margin-left: 5px;
    position: relative;
    bottom: 1px;
    text-transform: capitalize;
}
.level-name{
    max-height: 150px;
    font-weight: bold;
}
.level-name:hover{
    opacity: 0.7;
}
.level-name:active{
    opacity: 0.7;
}
.level-name .main-level{
    font-size: 1.1em;
}